<!DOCTYPE html>
<html ng-app="instareqApp">
  <head>
    <meta charset="utf-8">
    <title>Instagram photos by request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"></style>
  </head>
<body ng-controller="instareqAppCtrl" ng-view>
    <section id="menu">
        <menu type="/">
            <form ng-submit="newRequest()">
                <label>TAG</label>
                <input type="text" ng-model="tagUri" />
                <label>USER</label>
                <input type="text" ng-model="username" />
                <input type="submit" value="Request" />
            </form>
        </menu>
    </section>
    <section id="insta" when-scrolled="loadNext()">
        <div id="instafeed" un-preserve-order masonry="{transitionDuration: '0.4s', hiddenStyle: {opacity: '0', transform: 'scale(0.1)'}}">
         <!-- orderBy:item.likes.count -->
            <figure class="masonry-brick" ng-repeat="item in data | filter:userFilter">
                <a href="{{item.link}}">
                    <img ng-src="{{item.images.low_resolution.url}}" />
                </a>
                <figcaption tags="{{item.tags}}">
                    {{item.user.full_name}}, @{{item.user.username}}, 
                    <span>{{item.likes.count}}</span> likes
                </figcaption>
            </figure>
        </div>
        <div id="controls">
            <button id="next" ng-show="hasNext" ng-click="loadNext()">Kiss-kiss more works</button>
            <img id="preloader" ng-show="isPreloading" src="hearts.svg" alt="">
        </div>
    </section>
<script src="js/instafeed.js"></script>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/jquery.bridget.js"></script>
<script src="js/get-style-property/get-style-property.js"></script>
<script src="js/get-size/get-size.js"></script>
<script src="js/eventEmitter/EventEmitter.js"></script>
<script src="js/eventie/eventie.js"></script>
<script src="js/doc-ready/doc-ready.js"></script>
<script src="js/matches-selector/matches-selector.js"></script>
<script src="js/outlayer/item.js"></script>
<script src="js/outlayer/outlayer.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/imagesloaded/imagesloaded.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-masonry.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="instarequest.js"></script>
</body>
</html>