<!DOCTYPE html>
<html ng-app="archTalkApp">
  <head>
    <meta charset="utf-8">
    <title>Architecture1o1 Students Works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"></style>
    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28808467 = new Ya.Metrika({id:28808467, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28808467" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  </head>
<body ng-controller="archTalkCtrl" ng-view>
    <section id="menu">
        <menu>
            <label>#ARCHITECTURE 1o1 TALKS</label>
             <li ng-cloak ng-repeat="week in weeks" title="{{week.name}}">{{week.shortname}}
                <ul ng-repeat="day in week.days">
                    <li><a href="index.html#/{{day}}" no-click="switchDay(day)">{{day}}</a></li>
                </ul>
             </li>
        </menu>
    </section>
    <section id="insta" class="talks" when-scrolled="loadNext()">
        <div id="instafeed" un-preserve-order masonry="{transitionDuration: '0.4s', hiddenStyle: {opacity: '0', transform: 'scale(0.1)'}}">
         <!-- orderBy:item.likes.count -->
            <figure ng-cloak class="masonry-brick" ng-repeat="item in data | filter:skipLeft">
                <a href="{{item.link}}">
                    <img ng-src="{{item.images.thumbnail.url}}" />
                </a>
                <figcaption>
                    @{{item.user.username}}, 
                    <span>{{item.likes.count}}</span> likes
                </figcaption>
                <div class="talk">
                    <p ng-repeat="comment in item.comments.data"><span>{{comment.from.username}}:</span> {{comment.text}}</p>
                </div>
            </figure>
            
        </div>
        <div id="controls">
            <button id="next" ng-show="hasNext" ng-click="loadNext()">Kiss-kiss more talks</button>
            <img id="preloader" ng-show="isPreloading" src="hearts.svg" alt="">
        </div>
    </section>
<script src="js/instafeed.js"></script>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/jquery.bridget.js"></script>
<script src="js/get-style-property/get-style-property.js"></script>
<script src="js/get-size/get-size.js"></script>
<script src="js/eventEmitter/EventEmitter.js"></script>
<script src="js/eventie/eventie.js"></script>
<script src="js/doc-ready/doc-ready.js"></script>
<script src="js/matches-selector/matches-selector.js"></script>
<script src="js/outlayer/item.js"></script>
<script src="js/outlayer/outlayer.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/imagesloaded/imagesloaded.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-masonry.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/engine.js"></script>
</body>
</html>